// Default Variables
$simple-line-font-path: '../fonts/' !default;
$simple-line-font-family: 'simple-line-icons' !default;
$simple-line-icon-prefix: 'icon-' !default;

// Fonts
@if $simple-line-font-family == 'simple-line-icons' {
  @font-face {
    font-family: '#{$simple-line-font-family}';
    src: url('#{$simple-line-font-path}Simple-Line-Icons.eot?v=2.4.0');
    src: url('#{$simple-line-font-path}Simple-Line-Icons.eot?v=2.4.0#iefix')
        format('embedded-opentype'),
      url('#{$simple-line-font-path}Simple-Line-Icons.woff2?v=2.4.0')
        format('woff2'),
      url('#{$simple-line-font-path}Simple-Line-Icons.ttf?v=2.4.0')
        format('truetype'),
      url('#{$simple-line-font-path}Simple-Line-Icons.woff?v=2.4.0')
        format('woff'),
      url('#{$simple-line-font-path}Simple-Line-Icons.svg?v=2.4.0#simple-line-icons')
        format('svg');
    font-weight: normal;
    font-style: normal;
  }
}

$codes: (
  user: '\e005',
  people: '\e001',
  user-female: '\e000',
  user-follow: '\e002',
  user-following: '\e003',
  user-unfollow: '\e004',
  login: '\e066',
  logout: '\e065',
  emotsmile: '\e021',
  phone: '\e600',
  call-end: '\e048',
  call-in: '\e047',
  call-out: '\e046',
  map: '\e033',
  location-pin: '\e096',
  direction: '\e042',
  directions: '\e041',
  compass: '\e045',
  layers: '\e034',
  menu: '\e601',
  list: '\e067',
  options-vertical: '\e602',
  options: '\e603',
  arrow-down: '\e604',
  arrow-left: '\e605',
  arrow-right: '\e606',
  arrow-up: '\e607',
  arrow-up-circle: '\e078',
  arrow-left-circle: '\e07a',
  arrow-right-circle: '\e079',
  arrow-down-circle: '\e07b',
  check: '\e080',
  clock: '\e081',
  plus: '\e095',
  minus: '\e615',
  close: '\e082',
  event: '\e619',
  exclamation: '\e617',
  organization: '\e616',
  trophy: '\e006',
  screen-smartphone: '\e010',
  screen-desktop: '\e011',
  plane: '\e012',
  notebook: '\e013',
  mustache: '\e014',
  mouse: '\e015',
  magnet: '\e016',
  energy: '\e020',
  disc: '\e022',
  cursor: '\e06e',
  cursor-move: '\e023',
  crop: '\e024',
  chemistry: '\e026',
  speedometer: '\e007',
  shield: '\e00e',
  screen-tablet: '\e00f',
  magic-wand: '\e017',
  hourglass: '\e018',
  graduation: '\e019',
  ghost: '\e01a',
  game-controller: '\e01b',
  fire: '\e01c',
  eyeglass: '\e01d',
  envelope-open: '\e01e',
  envelope-letter: '\e01f',
  bell: '\e027',
  badge: '\e028',
  anchor: '\e029',
  wallet: '\e02a',
  vector: '\e02b',
  speech: '\e02c',
  puzzle: '\e02d',
  printer: '\e02e',
  present: '\e02f',
  playlist: '\e030',
  pin: '\e031',
  picture: '\e032',
  handbag: '\e035',
  globe-alt: '\e036',
  globe: '\e037',
  folder-alt: '\e039',
  folder: '\e089',
  film: '\e03a',
  feed: '\e03b',
  drop: '\e03e',
  drawer: '\e03f',
  docs: '\e040',
  doc: '\e085',
  diamond: '\e043',
  cup: '\e044',
  calculator: '\e049',
  bubbles: '\e04a',
  briefcase: '\e04b',
  book-open: '\e04c',
  basket-loaded: '\e04d',
  basket: '\e04e',
  bag: '\e04f',
  action-undo: '\e050',
  action-redo: '\e051',
  wrench: '\e052',
  umbrella: '\e053',
  trash: '\e054',
  tag: '\e055',
  support: '\e056',
  frame: '\e038',
  size-fullscreen: '\e057',
  size-actual: '\e058',
  shuffle: '\e059',
  share-alt: '\e05a',
  share: '\e05b',
  rocket: '\e05c',
  question: '\e05d',
  pie-chart: '\e05e',
  pencil: '\e05f',
  note: '\e060',
  loop: '\e064',
  home: '\e069',
  grid: '\e06a',
  graph: '\e06b',
  microphone: '\e063',
  music-tone-alt: '\e061',
  music-tone: '\e062',
  earphones-alt: '\e03c',
  earphones: '\e03d',
  equalizer: '\e06c',
  like: '\e068',
  dislike: '\e06d',
  control-start: '\e06f',
  control-rewind: '\e070',
  control-play: '\e071',
  control-pause: '\e072',
  control-forward: '\e073',
  control-end: '\e074',
  volume-1: '\e09f',
  volume-2: '\e0a0',
  volume-off: '\e0a1',
  calendar: '\e075',
  bulb: '\e076',
  chart: '\e077',
  ban: '\e07c',
  bubble: '\e07d',
  camrecorder: '\e07e',
  camera: '\e07f',
  cloud-download: '\e083',
  cloud-upload: '\e084',
  envelope: '\e086',
  eye: '\e087',
  flag: '\e088',
  heart: '\e08a',
  info: '\e08b',
  key: '\e08c',
  link: '\e08d',
  lock: '\e08e',
  lock-open: '\e08f',
  magnifier: '\e090',
  magnifier-add: '\e091',
  magnifier-remove: '\e092',
  paper-clip: '\e093',
  paper-plane: '\e094',
  power: '\e097',
  refresh: '\e098',
  reload: '\e099',
  settings: '\e09a',
  star: '\e09b',
  symbol-female: '\e09c',
  symbol-male: '\e09d',
  target: '\e09e',
  credit-card: '\e025',
  paypal: '\e608',
  social-tumblr: '\e00a',
  social-twitter: '\e009',
  social-facebook: '\e00b',
  social-instagram: '\e609',
  social-linkedin: '\e60a',
  social-pinterest: '\e60b',
  social-github: '\e60c',
  social-google: '\e60d',
  social-reddit: '\e60e',
  social-skype: '\e60f',
  social-dribbble: '\e00d',
  social-behance: '\e610',
  social-foursqare: '\e611',
  social-soundcloud: '\e612',
  social-spotify: '\e613',
  social-stumbleupon: '\e614',
  social-youtube: '\e008',
  social-dropbox: '\e00c',
  social-vkontakte: '\e618',
  social-steam: '\e620'
);

%simple-line-icon {
  font-family: '#{$simple-line-font-family}';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@each $name, $code in $codes {
  .#{$simple-line-icon-prefix}#{$name} {
    @extend %simple-line-icon;
    &:after{
      content: $code;
    }
  }
}